//=====MEDIAQUERY==========


@media (max-width: 540px) {
  .wrapper::before, .container::before {
    display: none;
  }
  .wrapper {
    width: 100%;
    margin: 0;
    background: none;
  }
  .dating-page {
    width: 100%;
    margin: 0;
  }
  .footer {
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 2px solid #000000;
  }

  .page__form {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  .slider {
    height: calc(100vh - 54px);
  }

  .form__logo {
    width: 100%;
    margin: 0;
    background: #fff url(../images/logo.png) center no-repeat;

  }
  .slider__item {
    width: 100%;
    padding: 15px;
    border-radius: 0;
    border: none;
  }
  .main-title, .sub-title {
    margin-top: 0;
  }
  .answers-list {
    width: auto;
    padding: 0;
    margin: 0 auto;
  }
  .loading {
    width: 100%;
  }
  .footer__row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer__menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer__menu-item {
    margin: 0;
  }
  .footer__menu-link {
    color: #000000;
  }
  .answers-list {
    width: 100%;
    margin: 0 auto;
  }
  .footer__menu-link {
    font-family: "Roboto", sans-serif;
    padding: 2px 0 10px 0;
    font-size: 19px;
  }
  .form-control {
    width: inherit;
    margin: 0 0 1% 0;
    padding: 1% 0 1% 2%;
  }
  //.form-options{
  //  width: 100px;
  //}
}